div { width: 60px; height: 60px; border: 20px solid rgba(0, 0, 0, 0.5); padding: 20px; margin: 20px 0; background-size: 130px; background-position: center; background-image: url("../images/ferit-logo-223x300.png"); background-color: gold; } 
.default { background-clip: border-box; } 
.padding-box { background-clip: padding-box; } 
.content-box { background-clip: content-box; }